.gameTable {
    color:#000;
    width:100%;
}

.gameTable img{
    width: 75px;
    height: 75px;
}
.gameTable th {
    background-color:#007ACC;
    vertical-align: top;
    color:#fff;
    font-size:1em;
    padding:1em 0.5em;
    text-align: left;
    border-right:1px solid #007a99;
}

.gameTable td {
    padding:0.4em;
    color:#007acc;
    font-size:0.9em;
    font-weight: 700;
    border-right:1px solid #ccc;
}

.gameTable tr {
    padding:0;
    background-color:#eee;
}

.gameTable tr:nth-of-type(odd) {
    background-color:#ddd;
}

.gameTable th a .fa{
    color:#fff;
}

.gameTable th a .fa:hover{
    color:#FF4D4D;
}


.navBar ul li{
    color:#fff;
    background-color:#007acc;
    display:inline;
    padding:0.2em;
    margin:0;
    font-size:0.8em;
}
.navBar ul {
    list-style: none;
    padding:0.2em;
    margin:0;
}
.navBar li{
    display:inline;
    white-space: nowrap;
    position:relative;
    padding:0.2em;
}

.navBar a:hover {
    padding:0.2em;
}

.navBar li li {
    display: inline;
    white-space: nowrap
}
.navBar ul ul {
    display:inline;
    position:absolute;
    left:-999;
    z-index: 2
}

.year_input{
    width:70px;
}

form, .form_label{
    color:#000;
}

.query {
    background-color:#292929;
    padding:5px;
    border-radius:5px;
    text-align:center;
    margin-top:10px;
}

.query-label {
    color:#f00;
}

.table-footer {
    text-align:center;
    width:100%;
}
.rows,
.pagination {
    margin: 0 40px;
    display:inline-block;
    color:#000;
    text-align: left;
    margin-top: 10px;
}
